@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Details";
     IEnumerable<TPEZANO.Models.DetallePedido> listItemsCarrito = new List<DetallePedido>();
        listItemsCarrito = @Model.elementosCarrito;

        int yer=0,tor=0,re=0;

}
<h1>Detalle del Pedido</h1>

@foreach(DetallePedido item in Model.elementosCarrito) {

    if(yer<1){
    <h4>@Html.DisplayFor(modelItem => item.pedido.UserID)</h4>
        yer++;
    }

}
    <hr />

    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().pedido.Total) a Pagar
        </dt>
        @foreach(DetallePedido item in Model.elementosCarrito) {
            if(re<1){
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelItem => item.pedido.Total)
        </dd>
        re++;
            }
        }
    </dl>

<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Producto.Name)
            </th>
            <th>Cantidad</th>
            <th>
                @Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Producto.Precio)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(DetallePedido item in Model.elementosCarrito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Name)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Precio)
            </td>
        </tr>
        }
    </tbody>
</table>
<br>
<center>
<a class="btn btn-primary" style="background-color: #3b5998;"  asp-controller="VistaCliente" asp-action="VistaCliente" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/570/570220.png" width="25px" heigh="25px"></i> Regresar</a>
                </center>
                <br>
                <br>